<%- include('partials/header'); -%><!--path of file from viwes folder -->
<h1>Home Alert</h1>
<p><%=HomeSartingContent%></p>

<!-- <% posts.forEach(function(p){   %>
    <h1><%=p.post %></h1>
    <p><%= p.Blog.substring(0,100)%><a href="/post/<%=p.post%>">... Read More</a></p>
    
    <!-- <% console.log(p.post); %> -->
<!-- <% }) %> --> 

<%- include('partials/footer'); -%>